{% load static %}
<html>
    <head>
        <title>Creatosaurus</title>
        <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {

   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #517BE8;
   color: white;
   text-align: center;
   padding:10px;
}


<!--@media (prefers-color-scheme: dark) {-->
<!--  body {-->
<!--    background-color: black;-->
<!--    color: white;-->
<!--  }-->
<!--}-->
</style>

{%if request.user.is_authenticated%}
<nav class="navbar navbar-expand-lg   navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Creatosaurus</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

    </ul>
      <a class="nav-link" style="color:white" href="/profile" >Dashboard</a>
       <a class="nav-link" style="color:white" href="/profile/edit" >Edit</a>
      <a class="nav-link" style="color:white" href="/profile/details" >Edit Details</a>
      <a class="nav-link"  style="color:white" href="/password" >Change Password</a>
      <a class="nav-link" style="color:white" href="/configure" >Configure Accounts</a>
      <a class="nav-link" style="color:white" href="/search" >Search</a>
      <a class="nav-link" style="color:white" href="/insights" >Insights</a>
       <a class="nav-link" style="color:white" href="/adminadmin" >Admin</a>
      <a class="nav-link" style="color:white" href="/notifications" >Notifications</a>
      <a class="nav-link" style="color:white" href="/logout" >Logout</a>
  </div>
</nav>

{%else%}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Creatosaurus</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

    </ul>
<a  class="nav-link" style="color:white" href="/admin" >Admin</a>
       <a class="nav-link" style="color:white" href="/privacy-policy" >Privacy Policy</a>

       <a class="nav-link" style="color:white" href="/terms-and-conditions" >Terms and Conditions</a>

   <a class="nav-link" style="color:white" href="/register" >Register</a>
  </div>
</nav>


    {%endif%}

{% block content %}

{% endblock %}




</body>
</html>