<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creator</title>
<style>
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {

  width: 33.33%;
  margin-bottom: 16px;
  padding: 0 8px;

}
<!--.bg-primary {-->
<!--    background-color: #1a52c6;-->
<!--}-->
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;

}

</style>
</head>
<body>
{% extends 'accounts/base.html' %}
{% block content %}
<div class="container" style="margin-top:30px;">

    <h1>{{selected.account_name|title}} Insights </h1>

    <h4>{{selected.provider|title}} </h4>
<br>

    {%if isenabled%}

    <form action="/check-insights/{{selected.account_uid}}" method="POST">
        {%csrf_token%}
        <button type="submit" name="btn-off" class="btn btn-warning" value="{{selected.account_uid}}">Turn OFF Auto Sync</button>
    </form>
    {%else%}

    <form action="/check-insights/{{selected.account_uid}}" method="POST">
        {%csrf_token%}
        <button type="submit" name="btn-on" class="btn btn-danger" value="{{selected.account_uid}}">Turn On Auto Sync</button>
        <button type="submit" name="btn-sync-now" class="btn btn-warning" value="{{selected.account_uid}}">Sync Now</button>

        {%if selected.last_sync%}
        <br><br>Last Sync Date and Time - <strong>{{selected.last_sync}}</strong>
        {%else%}
        <br><br>Last Sync Date and Time - <strong>Never</strong>
        {%endif%}
    </form>
    {%endif%}

    <hr>
</div>
<div class="container" style="margin-top:10px;">

   {%if selected.provider == 'facebook'%}
{%if final_obj.cover_source%}
    <div class="text-center" style="margin-bottom:10px;">
  <img src="{{final_obj.cover_source}}" class="rounded img-fluid" style="width:1200px;height:400px;">
</div>

    {%endif%}
<div class="jumbotron jumbotron-fluid bg-info">
  <div class="container">

      <h1 class="display-4" style="color:white">Social Reach : {{final_obj.fan_count}}</h1>
      {%if final_obj.about%}
      <hr>
    <p class="lead" style="color:white">{{final_obj.about}}</p>
      {%endif%}
  </div>
</div>
<div class="row">

<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>verification_status</strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.verification_status}}</h5>
            </div>
        </div>
</div>


<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Bio</strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.bio}}</h5>
            </div>
        </div>
</div>


<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Category</strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.category}}</h5>
            </div>
        </div>
</div>



<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Fan Count</strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.fan_count}}</h5>
            </div>
        </div>
</div>


<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Featured Video Description </strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.featured_video_desc}}</h5>
            </div>
        </div>
</div>


<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Connected Instagram Account </strong></div>
            <div class="card-body">
                {%if final_obj.connected_instagram_account %}
            <h5 class="card-title" style="color:red">Yes</h5>
                {%else%}
                <h5 class="card-title" style="color:red">No</h5>
                {%endif%}
            </div>
        </div>
</div>



<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Country Page Likes</strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.country_page_likes}}</h5>
            </div>
        </div>
</div>


<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Engagement</strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.engagement}}</h5>
            </div>
        </div>
</div>

<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>New Like Count </strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.new_like_count }}</h5>
            </div>
        </div>
</div>






<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Overall Star Rating</strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.overall_star_rating }}</h5>
            </div>
        </div>
</div>





<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Rating Count</strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.rating_count }}</h5>
            </div>
        </div>
</div>




<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Talking About Count </strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.talking_about_count}}</h5>
            </div>
        </div>
</div>




<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Unread Message Count= </strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.unread_message_count}}</h5>
            </div>
        </div>
</div>





<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Unread Notif Count </strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.unread_notif_count}}</h5>
            </div>
        </div>
</div>






<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Unseen Message Count </strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.unseen_message_count}}</h5>
            </div>
        </div>
</div>




<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Website</strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.website }}</h5>
            </div>
        </div>
</div>



<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Were Here Count</strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">{{final_obj.were_here_count }}</h5>
            </div>
        </div>
</div>

</div>



    {%elif selected.provider == 'google'%}
    google
{%elif selected.provider == 'twitter'%}
twitter
{%elif selected.provider == 'linkedin'%}
<div class="jumbotron jumbotron-fluid bg-info">
  <div class="container">

      <h1 class="display-4" style="color:white">Social Reach : 500+</h1>

  </div>
</div>
<div class="row">



<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Total Connections</strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">500+</h5>
            </div>
        </div>
</div>


<div class="column">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Featured Post</strong></div>
            <div class="card-body">
            <h5 class="card-title" style="color:red">None</h5>
            </div>
        </div>
</div>




</div>



{%elif selected.provider == 'pinterest'%}
pinterest
{%else%}
else
    {%endif%}
    </div>


{% endblock %}
</body>

</html>